<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>商品成功加入购物车</title>
    <link rel="icon" href="http://cartlmarket.cn1.utools.club/static/index/img/LM.ico" type="image/x-icon">
    <script type="text/javascript" src="http://cartlmarket.cn1.utools.club/static/cart/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://cartlmarket.cn1.utools.club/static/cart/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://cartlmarket.cn1.utools.club/static/cart/js/swiper.min.js"></script>
	<script src="http://cartlmarket.cn1.utools.club/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cartlmarket.cn1.utools.club/static/cart/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cartlmarket.cn1.utools.club/static/cart/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="http://cartlmarket.cn1.utools.club/static/cart/css/success.css" />

 </head>

    <body>
    <!--头部-->
    <div class="alert-info">
        <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
        <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
        <a href="http://lmarket.cn1.utools.club">LMarket首页</a>
        </li>

        </ul>

        <ul class="hd_wrap_right">
        <li class="forel">
        <a href="http://authlmarket.cn1.utools.club/login.html" class="link_login">[[${#strings.isEmpty(session.loginUser)?'你好！请登录':session.loginUser.nickname}]]</a>&nbsp;
    <a th:if="${#strings.isEmpty(session.loginUser)}" href="http://authlmarket.cn1.utools.club/reg.html" class="link_regist">免费注册</a>
        </li>
        <li class="spacer"></li>

        <li>
        <a href="/javascript:;">我的订单</a>
        </li>



        </ul>

        </div>
      </div>

        <div class="nav-tabs-justified">
        <div class="nav_wrap">

        <div class="nav_top">
        <div class="nav_top_one">
        <a href="http://lmarket.cn1.utools.club"><img src="http://cartlmarket.cn1.utools.club/static/cart/img/LM_logo.png"  style="height: 60px;width:180px;"  /></a>
        </div>
        <div class="nav_top_two"><input type="text" /><button>搜索</button></div>





    </div>

    </div>
    </div>

    <div class="main">

        <div class="success-wrap">
        <div class="w" id="result">
        <div class="m succeed-box">
            <div th:if="${seckillOrderSn != null}" class="mc success-cont">
                <h1>恭喜秒杀成功！订单号：[[${seckillOrderSn}]]</h1>
                <h2>正在准备订单数据，10s以后自动跳转支付...<a th:href="${'http://orderlmarket.cn1.utools.club/payOrder?orderSn='+seckillOrderSn}">去支付</a></h2>

            </div>
            <div th:if="${seckillOrderSn == null}" style="color: red">
                <h1>秒杀失败。。。10s以后自动跳转到首页</h1>
            </div>
    </div>
    </div>
    </div>

    </div>
    </body>
    <script type="text/javascript" src="http://cartlmarket.cn1.utools.club/static/cart/js/success.js"></script>

</html>
